.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #171923;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
  flex-basis: auto;
  display: flex;
  gap: 1rem;

  @media (max-width: 760px) {
    margin-top: 1rem;
    flex-basis: 100%;
    justify-content: flex-end;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }

  .active {
    color: #63b3ed;
  }
}
